RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.*)-menu-(.*).html$ index.php?url=menu&id=$2 [QSA,L]

RewriteRule blogs.html$ index.php?url=blogs [QSA,L]
RewriteRule ^(.*)-blogs-(.*).html$ index.php?url=blogs/detail&id=$2 [QSA,L]

RewriteRule ^(.*)-category-(.*).html$ index.php?url=product&id=$2 [QSA,L]
RewriteRule ^(.*)-product-(.*).html$ index.php?url=product/detail&id=$2 [QSA,L]

RewriteRule ^contact.html$ index.php?url=contact [QSA,L]

RewriteRule ^login.html$ index.php?url=acount/login [QSA,L]
RewriteRule ^profile.html$ index.php?url=acount/profile [QSA,L]
RewriteRule ^register.html$ index.php?url=acount/register [QSA,L]
RewriteRule ^log_action$ index.php?url=acount/do_login [QSA,L]
RewriteRule ^reg_action$ index.php?url=acount/do_register [QSA,L]
RewriteRule ^reg_notify.html$ index.php?url=acount/notify [QSA,L]
RewriteRule ^active_account.html$ index.php?url=acount/active [QSA,L]
RewriteRule ^logout.html$ index.php?url=acount/logout [QSA,L]
RewriteRule ^update-account.html$ index.php?url=acount/update [QSA,L]
RewriteRule ^upd_action$ index.php?url=acount/do_update [QSA,L]
RewriteRule ^change-pass.html$ index.php?url=acount/change_pass [QSA,L]
RewriteRule ^udp_pass$ index.php?url=acount/do_pass [QSA,L]

RewriteRule ^manager_address.html$ index.php?url=address [QSA,L]
RewriteRule ^ad_add$ index.php?url=address/add [QSA,L]
RewriteRule ^action_add$ index.php?url=address/do_add [QSA,L]
RewriteRule ^ad_update$ index.php?url=address/update [QSA,L]
RewriteRule ^action_update$ index.php?url=address/do_update [QSA,L]
RewriteRule ^ad_del$ index.php?url=address/del [QSA,L]
RewriteRule ^ad_change$ index.php?url=address/change [QSA,L]
RewriteRule ^check$ index.php?url=address/check_code [QSA,L]

RewriteRule ^cart.html$ index.php?url=shopping [QSA,L]
RewriteRule ^add_cart.html$ index.php?url=shopping/addcart [QSA,L]
RewriteRule ^update_cart.html$ index.php?url=shopping/updatecart [QSA,L]
RewriteRule ^del_cart.html$ index.php?url=shopping/delcart [QSA,L]

RewriteRule ^checkout.html$ index.php?url=checkout [QSA,L]
RewriteRule ^action_check.html$ index.php?url=checkout/action [QSA,L]
RewriteRule ^notify_check.html$ index.php?url=checkout/notify [QSA,L]
RewriteRule ^payment$ index.php?url=checkout/payment [QSA,L]

RewriteRule ^my_orders.html$ index.php?url=orders [QSA,L]
RewriteRule ^order-detail-(.*).html$ index.php?url=orders/detail&id=$1 [QSA,L]

php_value display_errors on
