RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^errors.html$ index.php?url=errors [QSA,L]
RewriteRule ^contact.html$ index.php?url=contact [QSA,L]

RewriteRule ^(.*)-blogs-(.*).html$ index.php?url=blog&id=$2 [QSA,L]
RewriteRule ^(.*)-post-(.*).html$ index.php?url=blog/detail&id=$2 [QSA,L]

RewriteRule ^change-lang-(.*).html$ index.php?url=index/change_lang&lang=$1 [QSA,L]

php_value display_errors on
